$color-primary: #fb5252;
$color-pink: #ffd3da;
$color-gray100: #f1f5fe;
$color-gray200: #e9e9e9;
$color-gray500: #999;
$color-green500: #108f96;
$color-blue800: #0a1833;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 16px;
  width: 100%;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  position: absolute;
  top: 0;
  left: 50%;
  min-height: 100%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

input:focus {
  outline: none;
}

button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin icon {
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.micon {
  @include icon;
  font-family: "Material Icons";
}

.micon-o {
  @include icon;
  font-family: "Material Icons Outlined";
}

.micon-r {
  @include icon;
  font-family: "Material Icons Round";
}
